@font-face {
  font-family: "whitney light";
  src: url("./assets/fonts/whitneylight.woff") format("woff");
}
@font-face {
  font-family: "Whitney Medium";
  src: url("./assets/fonts/whitneymedium.woff") format("woff");
}
@font-face {
  font-family: "Whitney Bold";
  src: url("./assets/fonts/whitneybold.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html{
    font-size:62.5%;
}